<%- include("../_header1"); -%>
<br>
<br>
<body>
    <h1 align="center">ยืนยันการลบ</h1>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 d-flex justify-content-center">   
                <form method="post" action="<%= data ? '/deletecraftandtest/' + data.id : '' %>"  class="w-120 mx-auto">
                    <% if (data && data.iscraftandtest) { %>
                        <a align="center" href="/craftandtest/list" class="btn btn-danger mx-auto">กลับ</a>
                    <% } else { %>
                        <a align="center" href="/craftandtest/list" class="btn btn-danger mx-auto">กลับ</a>
                    <% } %>
                    <button align="center" type="submit" class="btn btn-info mx-auto">ยืนยัน</button> 
                </form>
            </div>
        </div>
    </div>
<%- include("../_footer"); -%>
