<%- include("../_header"); -%>
<br>
<br>
<body>
    <h1 align="center" style="margin-top: 230px;">ยืนยันการลบ</h1>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-12 d-flex justify-content-center">   
                <form method="post" action="<%= data ? '/Udonateplace/deleteConfirm/' + data.id : '' %>"  class="w-120 mx-auto">
                    <% if (data && data.isMedia) { %>
                        <a align="center" href="/Udonateplace/list" class="btn btn-danger mx-auto" style="margin-top: 20px;">กลับ</a>

                    <% } else { %>
                        <a align="center" href="/Udonateplace/list" class="btn btn-danger mx-auto" style="margin-top: 20px;">กลับ</a>
                    <% } %>
                    <button align="center" type="submit" class="btn btn-info mx-auto" style="margin-top: 20px;">ยืนยัน</button> 
                </form>
            </div>
        </div>
    </div>
<%- include("../_footer"); -%>
